<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.park.togetherclass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:theme="@style/NoTitle01">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/NoTitle01" />
        <activity android:name=".CodeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ClassHourActivity" />
        <activity android:name=".QuestionActivity" />
        <activity android:name=".FreeBoardActivity" />
        <activity android:name=".NoticeActivity" />
        <activity android:name=".PotalActivity" />
        <activity android:name=".MeetingActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".HomeWorkActivity" />
        <activity android:name=".RecodeActivity"></activity>
    </application>

</manifest>